{% extends "_layout" %}

{% block content %}

    <div class="row">
        <div class="columns two">
            &nbsp;
        </div>
        <div class="columns eight landingPage reveal fadeIn" data-wow-duration="0.6s" data-wow-delay="0.1s">
            {{ entry.body }}
        </div>
        <div class="columns two">
            &nbsp;
        </div>
    </div>

    {#<div class="row">
        <div class="columns two">
            &nbsp;
        </div>
        <div class="columns eight">
            {% set images = entry.profile %}
            {% if images and images|length %}
                {% for image in images %}
                    <img src="{{ image.getUrl('scale') }}" title="Matt Quéréé" alt="Matt Quéréé">
                {% endfor %}
            {% endif %}
        </div>
        <div class="columns two">
            &nbsp;
        </div>
    </div>#}

{% endblock %}
