{% extends "_layout" %}

{% block content %}

		<div class="row">
			<div class="columns twelve catTitle">
				<h1>{{ entry.title }}</h1>
			</div>
		</div>
		<ul class="grid">
			{% if craft.app.request.segments|last == 'motion' %}

				{% for block in entry.categoryGrid.all() %}
					{% set images = block.gridImage.image %}
					{% if images and images|length %}
						<li class="gridItem videoItem reveal fadeIn" data-wow-offset="0" data-wow-duration="0.6s">
							{% for image in images.all() %}
								{% set asset = block.gridImage.video.one() %}
								{% set embeddedAsset = craft.embeddedAssets.get(asset) %}
								{% if embeddedAsset|length %}
									<a href="{{ embeddedAsset ? embeddedAsset.url }}" class="swipebox swipebox-video" rel="vimeo">
										<span>&#9658;</span>
										<img src="{{ image.getUrl('scale') }}" title="{{ block.gridImage.imageTitle }}" alt="{{ block.gridImage.imageTitle }}">
									</a>
								{% endif %}
							{% endfor %}
						</li>
					{% endif %}
				{% endfor %}

			{% else %}
				{% for block in entry.categoryGrid.all() %}
					{% set images = block.gridImage.image|default('undefined') %}
					{% if images and images|length %}
						<li class="gridItem reveal fadeIn" data-wow-offset="0" data-wow-duration="0.6s">
							{% for image in images.all() %}
							<a href="{{ image.getUrl('scale') }}" class="swipebox">
								<img src="{{ image.getUrl('scale') }}" title="{{ block.gridImage.imageTitle }}" alt="{{ block.gridImage.imageTitle }}">
							</a>
							{% endfor %}
						</li>
					{% endif %}
				{% endfor %}
			{% endif %}
		</ul>

{% endblock %}
