{% extends "_layout" %}

{% block content %}
	<div class="row">
		<div class="columns twelve catTitle">
			<h1>{{ entry.projectTitle }}</h1>
			{{ entry.projectDescription }}
		</div>
	</div>
	<ul class="grid">
		{% for block in entry.categoryGrid.all() %}
			{% set images = block.gridImage.image|default('undefined') %}
			{% if images and images|length %}
				<li class="gridItem reveal fadeIn" data-wow-offset="0" data-wow-duration="0.6s">
					{% for image in images.all() %}
					<a href="{{ image.getUrl('scale') }}" class="swipebox" title="My Caption">
						<img src="{{ image.getUrl('scale') }}" title="{{ block.gridImage.imageTitle }}" alt="{{ block.gridImage.imageTitle }}">
					</a>
					{% endfor %}
					{# Video embed #}
					{% set video = block.gridImage.embedderVideo|default('undefined') %}
					{% if video %}
						{{ craft.embedder.embed (video, {max_width:600, max_height:900, class:'videoPlayer'}) }}
					{% endif %}
				</li>
			{% endif %}
		{% endfor %}
	</ul>
{% endblock %}
